

/* INFOMATION */
.infomation {
    padding-top: 10rem;
}
.infomation .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.infomation .box-container .image{
    flex: 1 1 30rem;
}
.infomation .box-container .image img{
    width: 100%;
    object-fit: cover;
}
.infomation .box-container .info{
    flex: 1 1 45rem;
}
.infomation .box-container .info h2{
    font-size: 3.5rem;
    color: var(--black);
    font-weight: bold;
}
.infomation .box-container .info p{
    font-size: 1.8rem;
    color: var(--light-color);
    margin: 1rem 0;
}
.infomation .box-container .info .stars{
    font-size: 2.5rem;
    color: var(--green);
}

.infomation .box-container .info .price{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bold;
    margin:1rem 0;
}
.change-value{
    display: flex;
    align-items: center;
}
.infomation .box-container .info .quantity{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.infomation .box-container .info .quantity span{
    font-size: 2rem;
    margin-right: 2rem;
}
.infomation .box-container .info .quantity input {
    border: .1rem solid rgba(0, 0, 0, .2);
    padding: 1rem 1rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    background-color: #eee;
    font-size: 2rem;
    text-align: center;
}
/* remove arrow */
.infomation .box-container .info .quantity input::-webkit-outer-spin-button,
.infomation .box-container .info .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* for firefox */
.infomation .box-container .info .quantity input[type=number] {
  -moz-appearance: textfield;
}


/* YOU MAYBE LIKE SECTION */
.maybelike .box-container{
    padding: 0 10%;
}
.maybelike .box-container .box{
    display: flex;
    gap: 2rem;
    align-items: center;
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow);
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

.maybelike .box-container .box .image{
    flex: 1 1 10rem;
}
.maybelike .box-container .box .image img{
    width: 100%;
    object-fit: cover;
}
.maybelike .box-container .box .info{
    flex: 1 1 30rem;
    display: flex;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.maybelike .box-container .box .info a{
    flex: 1 1 10rem;
    font-size: 3rem;
    margin-right: 2rem;
    color: var(--black);
    font-weight: bold;
}
.maybelike .box-container .box .info .price{
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-right: 1rem;
    
}
.maybelike .box-container .box .info .price .old-price{
    color:var(--light-color);
    text-decoration: line-through;
    font-size: 1.8rem;
}
.maybelike .box-container .box .info .price .new-price{
    color:var(--green);
    font-size: 2.5rem;
}




















/* Media queries */

@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    
}
@media (max-width: 768px){
    header .navbar{
        position: absolute;
        top:100%;
        left: 0; right:0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 1rem 0;
        box-shadow: var(--box-shadow);
    }
    .maybelike .box-container{
        padding: 0 2%;
    }
    .maybelike .box-container .box{
        padding: 1rem 1rem;
    }
}
@media (max-width: 425px){
    html {
        font-size: 50%;
    }
    .infomation{
        padding-top: 15rem;
    }
    .maybelike .box-container .box .info .calculator{
        flex: 1 1 5rem;
        margin-top: 1rem;
    }
}

@media (max-width: 300px){
    header .navbar{
        flex-direction: column-reverse;

    }
}